
*{
	font-family: sans-serif, Ubuntu, Lora;
	}

.custom-btn__1{
	background-color: #06a7df; color: #ffff
}
.custom-btn__2{
	background-color: #f4821e;
}

.primary-color{
	color: #f4821e; 
	font-weight: bold ;
}
.custom-color{
	color: #06a7df;
}


.bar-icon{
	color: #f4821e;
}

.nav-list{
	/*text-align: center;*/
	font-weight: bolder!important;
}
.nav-list li{
	margin-right: 40px;
	font-size: 20px;
}
.header a{
	color: black!important;
	
}
.header a:hover{
	color: #1fcfc6!important;
}

.schedule-select{
	width: 25%; 
	border-right: 1px solid black; 
	padding: 20px
}

.schedule-date{
	width: 25%; 
	border-right: 1px solid black; 
	padding: 20px;
}
.schedule-view{
	width: 25%; 
	border-right: 1px solid black; 
	padding: 20px;  
	background: #f4821e; 
	border-radius: 0 54px 54px 0; 
	color: #ffff
}







.footer{
	background: #06a7df;
}
.footer-icons{
	margin-left: 46PX;
}
.footer-icons i{
	margin-right: 20px
}
.footer-details a:hover{
	color: #1fcfc6!important;
}

.bar{
	display: inline-block;
	width: 1.5em;
	height: 1.5em;
	vertical-align: middle;
	content: "";
	background: no-repeat center center;
	background-size: 100% 100%;
	color: #f4821e;
}

.details{
	background: #fff;
	border-radius: 54px;
	color: black;
}

/*@media screen and (max-width: 480px) {
  #display{
    display: none!important;
  }
}
*/
    